.container
  .page-header
    .row
      .col-md-10
        %h1 Conventions
      .col-md-2.h1-padding
        %a.btn.btn-primary#new_convention_button.btn-block{href: new_convention_path}
          New Convention

  .row-fluid
    %table.table.table-striped
      %tr
        %th Title
        %th
      - @conventions.each do |c|
        %tr.item
          %td
            %a{href: convention_path(c)}
              = c.title
          %td
            %a{href: edit_convention_path(c)}Edit
            |
            %span{id: "delete_convention_#{c.id}"}
              = link_to 'Delete', c, data: { confirm: 'Are you sure you want to delete this convention?' }, method: :delete
